Repository travis-ci/travis-api, pull requests merged in 2018-03, with the labels that each got.

#676 upgrade ruby to 2.5.0
  .ruby-version
  .travis.yml
  Gemfile
  Gemfile.lock
  lib/travis/model/encrypted_column.rb
Labels: emergent

#690 /v3/subscriptions endpoint
  lib/travis/api/v3/billing.rb
  lib/travis/api/v3/queries/subscriptions.rb
  lib/travis/api/v3/renderer/subscription.rb
  lib/travis/api/v3/renderer/subscriptions.rb
  lib/travis/api/v3/routes.rb
  lib/travis/api/v3/services.rb
  lib/travis/api/v3/services/subscriptions/all.rb
  spec/v3/billing_spec.rb
  spec/v3/services/subscriptions/all_spec.rb
Labels: billing-v2

#693 Endpoint to update the billing address data of a subscription
  lib/travis/api/v3/billing.rb
  lib/travis/api/v3/queries/subscription.rb
  lib/travis/api/v3/routes.rb
  lib/travis/api/v3/services.rb
  lib/travis/api/v3/services/subscription/update_address.rb
  spec/v3/billing_spec.rb
  spec/v3/services/subscription/update_address_spec.rb
  spec/v3/services/subscriptions/all_spec.rb
Labels: billing-v2

#696 POST /v3/subscription/:id/cancel endpoint
  lib/travis/api/v3/billing.rb
  lib/travis/api/v3/queries/subscription.rb
  lib/travis/api/v3/routes.rb
  lib/travis/api/v3/services/subscription/cancel.rb
  spec/v3/services/subscription/cancel_spec.rb
Labels: billing-v2

#699 Added nested key and corrected params for subscription
  lib/travis/api/v3/billing.rb
  lib/travis/api/v3/services/subscription/update_address.rb
  lib/travis/api/v3/services/subscription/update_creditcard.rb
  lib/travis/api/v3/services/subscriptions/create.rb
  spec/v3/billing_spec.rb
  spec/v3/services/subscription/update_address_spec.rb
  spec/v3/services/subscription/update_creditcard_spec.rb
  spec/v3/services/subscriptions/create_spec.rb
Labels: billing-v2

#692 [WIP] Check for Enterprise api endpoints before changing the raw_log_href
  lib/travis/api/v3/renderer/log.rb
Labels: enterprise-2.2-backport

#694 Billing v2 integration
  lib/travis/api/v3/billing.rb
  lib/travis/api/v3/billing_client.rb
  lib/travis/api/v3/models/subscription.rb
  lib/travis/api/v3/queries/subscription.rb
  lib/travis/api/v3/queries/subscriptions.rb
  lib/travis/api/v3/renderer/subscription.rb
  lib/travis/api/v3/renderer/subscriptions.rb
  lib/travis/api/v3/routes.rb
  lib/travis/api/v3/service.rb
  lib/travis/api/v3/services.rb
  lib/travis/api/v3/services/subscription/cancel.rb
  lib/travis/api/v3/services/subscription/update_address.rb
  lib/travis/api/v3/services/subscription/update_creditcard.rb
  lib/travis/api/v3/services/subscriptions/all.rb
  lib/travis/api/v3/services/subscriptions/create.rb
  spec/spec_helper.rb
  spec/support/billing_spec_helper.rb
  spec/v3/billing_client_spec.rb
  spec/v3/billing_spec.rb
  spec/v3/service_index_spec.rb
  spec/v3/services/subscription/cancel_spec.rb
  spec/v3/services/subscription/update_address_spec.rb
  spec/v3/services/subscription/update_creditcard_spec.rb
  spec/v3/services/subscriptions/all_spec.rb
  spec/v3/services/subscriptions/create_spec.rb
Labels: billing-v2
